body{

font-family:Tahoma;
background:#f1f1f8;
margin:0;
text-align:center;

}


header{

background:#2E8B57;
color:white;
padding:20px;

}


nav a{

color:white;
text-decoration:none;
margin:15px;
font-weight:bold;

}



.login-box,.content{

background:white;
width:80%;
max-width:500px;
margin:50px auto;
padding:30px;
border-radius:20px;

}



input{

width:90%;
padding:12px;
margin:10px;
border-radius:10px;
border:1px solid #ccc;

}



button{

background:#2E8B57;
color:white;
border:none;
padding:12px 40px;
border-radius:10px;
cursor:pointer;

}


img{

width:300px;
border-radius:20px;

}


li{

list-style:none;
font-size:20px;
margin:15px;

}


footer{

background:#2E8B57;
color:white;
padding:15px;

}